# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
.pnpm-store/

# Build output
dist/
build/
*.tsbuildinfo

# Environment variables
.env
.env.*
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
*.log

# Rollup
.rpt2_cache/
